
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-image: url(image.png);
                background-size: cover;
                font-size: 20px;
            }
            .rectangle {
            width: 350px;
            height: 475px;
            background-image: url(bio.png);
            background-size: cover;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 40px;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 5px;
            cursor: default;
            }
            .oval {    
            width: 250px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 38%;
            border-radius: 15px;
            background-color: rgba(72, 206, 166, 0.2);
            color: white;
            text-align: center;
            }
            .oval img:hover {
                transform: scale(1.2);
                transition: transform 0.2s ease;  
            }
            .p {
                color: #fff;
                margin-bottom: .1rem;
                font-size: 35px;
                font-weight: bold;
            }
            .small {
                color: rgba(255, 255, 255, .6);
                font-size: 13px;
                text-decoration: none;
                cursor: default;
            }
            .small2 {
                color: rgba(255, 255, 255, .8);
                font-size: 15px;
                cursor: default;
            }
            .rectangle img {
                width: 25px;
                height: 25px;
                margin: 0 8px;
            }
