@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Creepster&display=swap');
html, body {
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bought {
    display: none;
}
.doubleclicks {
    position: relative;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 1000;
    font-family: "Nunito Sans";

}
.tripleclicks {
    position: relative;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 1000;
    font-family: "Nunito Sans";

}
.tenxclicks {
    position: relative;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 1000;
    font-family: "Nunito Sans";

}
.end {
    position: relative;
    padding: 8px 30px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-family: "Creepster";
    font-weight: 400;
    font-style: normal;
}
/*Shop*/
.shop {
    position: absolute;
    left: 95%;
    transform: translate(-95%);
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
    z-index: 2;
}
.shop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 8px;
}
.shop::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background-color: rgb(255, 94, 0);
    z-index: -2;
    border-radius: 8px;
    filter: blur(8px);
    animation: shopeffect 3s ease infinite;
}
.shop:hover::after {
    animation: shopeffect2 1.5s ease forwards;
}
.shop:hover {
    animation: shopeffect2 1.5s ease forwards;
}
@keyframes shopeffect2 {
    0% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    100% {
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
@keyframes  shopeffect {
    0% {
        background-color: rgb(255, 94, 0);
    }
    50% {
        background-color: rgb(0, 68, 255);
    }
    100% {
        background-color: rgb(255, 94, 0);
    }
}
.shopmenu {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.exitbtn  {
    position: absolute;
    top: 4%;
    left: 98.6%;
    transform: translate(0,-98.6%);
    background-color: rgb(255, 0, 38);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
/*button*/
.square {
    background-color: rgb(255, 255, 255);
    padding: 15px 40px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
}

.square::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 10px;
}

.square::before {
    content: "";
    background-color: rgb(255, 0, 38);
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    filter: blur(8px);
    z-index: -2;
    border-radius: 10px;
}
.square:hover {
    animation: cooleffect 4s infinite ease-in-out;
}
.square:hover::after {
    animation: cooleffect 4s infinite ease-in-out;
}
.square:hover::before {
    animation: cooleffect2 4s infinite ease-in-out;
}
@keyframes cooleffect {
    0% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    50% {
        background-color: rgb(0, 0, 0);
        color: white;
    }
    100% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}
@keyframes cooleffect2 {
    0% {
    background-color: rgb(255, 0, 38);
    }
    50% {
        background-color: rgb(17, 42, 109);
    }
    100% {
    background-color: rgb(255, 0, 38);
    }
}
.hide {
    display: none;
}